@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic:wght@400..700&display=swap');

* {
  --color-bg: #007fff;
  --color-bga: #00afff;
  --color-bg2: #003fff7f;
  --color-header-highlight: #ffffff2f;
  --color-fg: #00007f;
  --color-link: #0000df;
  --color-linkh: #00009f;
  --color-linka: #00005f;
  --color-line: #00003f;
  --color-codeshadow: #003fcf7f;
  --color-codehovershadow: #00003f7f;

  transition: 0.2s ease;
}

:root {
  background: linear-gradient(to right, var(--color-bga) 0%, var(--color-bg) calc(50% - 40ch), var(--color-bg) calc(50% + 40ch), var(--color-bga) 100%);
}
body {
  font-family: "Special Gothic", sans-serif;
  margin: auto;
  max-width: 70ch;
  color: var(--color-fg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  cursor: copy;
}
h1, h2 {
  background: linear-gradient(to bottom, transparent 50%, var(--color-header-highlight) 100%);
  border-bottom: 1px solid var(--color-line);
}
:is(h1, h2, h3, h4, h5, h6):hover {
  font-weight: bolder;
}

hr {
  border: none;
  border-bottom: 2px solid var(--color-line);
  box-shadow: 0 0 10px white;
}

pre, code {
  cursor: text;
  font-family: "IBM Plex Mono", monospace;
}
pre, :not(pre) > code {
  background-color: var(--color-bg2);
  box-shadow: inset 0 0 3px var(--color-codeshadow);
}
:is(pre, :not(pre) > code):hover {
  box-shadow: inset 0 0 3px var(--color-codehovershadow);
}
code {
  padding: 2px;
  border-radius: 4px;
}
pre {
  padding: 5px;
  border-radius: 8px;
}

a {
  color: var(--color-link);
  text-decoration: inherit;
}
a:is(:hover, :focus) {
  color: var(--color-linkh);
  text-decoration: 2px underline;
}
a:active {
  color: var(--color-linka);
}

th, td {
  padding: 2px 5px;
}

table {
  border-collapse: collapse;
}
tr th {
  border-bottom: 2px solid var(--color-line);
}
tr:not(:last-child) td {
  border-bottom: 1px solid var(--color-line);
}
:is(th, td):not(:last-child) {
  border-right: 1px solid var(--color-line);
}
